.header {
	background-color:white ;
	color: rgb(40,10,90);
	border-style:none;
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	padding:5px;
	font-family: serif, Georgia;
}

.header2{
	alignment: left;
	color:white;
	padding:20px;
	font-family: serif, Georgia;
}

body {
	background-color: rgb(40,10,90);
	border-style:none;
}

.pandasHome{
	padding:25px;
}

.users{
	padding:20px;
	font-size:25px;
	color:white;
}

.create{
	padding:20px;
	font-size:25px;
	color:sandybrown;
}


p {
	font-size:30px;
	color:white;
}

tr,td{
	padding:20px;
}

.loginTable {
	padding:100px;
	margin-left: auto;
  	margin-right: auto;
	color: white;
	font-size: 30px;
}

.btn {
	background-color: rebeccapurple;
  	border-color: white;
	border-style: solid;
	font-family: Arial, sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	padding:20px;
	width:180px;
}



.navbar{
	background-color: white;
	color: purple;
	border-style:none;
	font-weight: bold;
	font-size: 30px;
	padding:5px;
	font-family: serif, Georgia;
}

.navbar li{
  display: inline-block;
  margin-right: 30px;
  font-size: 30px;
}

img {
  border-color: white;
  display: block;
  border-style:solid;
  margin-left: auto;
  margin-right: auto;
}
