.header {
	background-color:white ;
	color: rgb(40,10,90);
	border-style:none;
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	padding:5px;
	font-family: serif, Georgia;
}

.header2{
	alignment: left;
	color:white;
	padding:40px;
	font-family: serif, Georgia;
}

body {
	background-color: rgb(40,10,90);
}

.tableAdjust{
	padding:40px;
	font-size:25px;
	color:white;
}

.create{
	padding:20px;
	font-size:25px;
	color:sandybrown;
}

p {
	font-size:30px;
	color:white;
}

tr,td{
	padding:20px;
}

.loginTable {
	padding:100px;
	margin-left: auto;
  	margin-right: auto;
	color: white;
	font-size: 30px;
}

.borderless {
	padding:100px;
	margin-left: auto;
  	margin-right: auto;
	color: white;
	font-size: 30px;
}

.borderless td{
	border:none;
}

.loginbtn {
	background-color: rebeccapurple;
  	border-color: white;
	color:white;
	border-style: solid;
	font-family: Arial, sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	padding:20px;
	width:180px;
}

.loginbtn:hover{
	background-color: rgb(50,100,200);
	color: white;
	border-color:white;
}

.buttonsCenter{
	margin:auto;
}

.anchorPadding {
	display: inline-block;
	padding:20px 0px 20px 40px;
}

.buttons{
	background-color: rebeccapurple;
	border-color:white;
	color:white;
	border-style: solid;
	font-family: Arial, sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	width:fit-content;
}

.buttons:hover{
	background-color: rgb(50,100,200);
	color: white;
	border-color:white;
}

.navbar{
	background-color: white;
	border-style:none;
	font-weight: bolder;
	font-size: 30px;
	padding:20px;
	font-family: serif, Georgia;
}

.nav-link{
	color: rgb(40,10,90);
}

.nav-link:hover{
	color: rgb(0,100,200);
}

.active{
	color: rebeccapurple;
	text-decoration: underline;
}

.pandaImg{
	margin-left: auto;
	margin-right: auto;
	display:block;
	padding:10px;
  	background:white;
}

.pandaVideo{
	margin-left: auto;
	margin-right: auto;
	padding:15px;
	display:block;
}

.errorMessage {
	color: red;
	font-size: 30px;
	padding:20px;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}