{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
     <meta name="viewport" content="width=device-width">
    <link href="{% static 'css/loginstyle.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <nav class= "navbar">
      <ul>
        <li><a href= "/home"> HOME</a></li>
        <li><a href= "/"> Logout </a></li>
      </ul>
    </nav>

<form action="" method="post">
    {% csrf_token %}
    <div class="table">
            <table class="loginTable">
                <tr>
                    <td>Name: </td>
                    <td><input type="text" name="name"></td>
                </tr>
                <tr>
                    <td>Password: </td>
                    <td><input type="text" name="password"></td>
                </tr>
                <tr>
                    <td>Phone Number: </td>
                    <td><input type="text" name="phone"></td>
                </tr>
                <tr>
                    <td>Address: </td>
                    <td><input type="text" name="address"></td>
                </tr>
                <tr>
                    <td>Role: </td>
                        <td>
                            <input id= "Admin" type="radio" name="role" value="Admin">
                            <label for="Admin">Admin</label>
                            <br>
                            <input id= "TA" type="radio" name="role" value="TA">
                            <label for="instructor">Instructor</label>
                            <br>
                            <input id= "TA" type="radio" name="role" value="TA">
                            <label for="TA">TA</label>
                     </td>
                </tr>
            </table>
        <a href="home/viewuser.html"><input type="submit" value="Create"></a>
        <input type="button" onclick="history.back()" value="Cancel">
    </div>
</form>
</body>
</html>