<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <div class="table">
            <table class="loginTable">
                <tr>
                    <td>Name: </td>
                    <td><input type="text" name="name"></td>
                </tr>
                <tr>
                    <td>Password: </td>
                    <td><input type="text" name="password"></td>
                </tr>
                <tr>
                    <td>Role: </td>
                        <td>
                            <input id= "Admin" type="radio" name="role" value="Admin">
                              <label for="Admin">Admin</label>
                                <br>
                              <input id= "TA" type="radio" name="role" value="TA">
                              <label for="instructor">Instructor</label>
                                <br>
                              <input id= "TA" type="radio" name="role" value="TA">
                              <label for="TA">TA</label>
                            </td>
                </tr>
            </table>
        <input type="submit" value="Create">
    </div>
</form>
</body>
</html>