{% load static %}
<!DOCTYPE html>
<html lang = en>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Home</title>
    <link href="{% static 'css/loginstyle.css' %}" rel="stylesheet" type="text/css"/>
  </head>
<body>
    <form action="/home/" method="post">
    <nav class= "navbar">
      <ul>
        <li><a href= "home.html"> HOME</a></li>
        <li><a href= "courses.html"> View All Courses </a></li>
        <li><a href="ViewData.html">View All Users</a></li>
        <li><a href= "login.html"> Logout </a></li>
      </ul>
    </nav>
    </form>
    <p>Home of the Purple Pandas
        <img src= "/static/Images/PandaImage.jpg" alt="purple panda" style="width:400px">
    </p>

</body>
</html>
