{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width">
    <link href="{% static 'css/loginstyle.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="header">
        <h1>Welcome</h1>
    </div>

    <form action="/" method="post">
        {% csrf_token %}
        <div class="table">
            <table class="loginTable">
                <tr>
                    <td>Name: </td>
                    <td><input type="text" name="name"></td>
                </tr>
                <tr>
                    <td>Password: </td>
                    <td><input type="password" name="password"></td>
                </tr>
            </table>
        </div>
        <div class="button">
           <button type="submit">Login</button>
        </div>
    </form>
    {{ message }}
</body>
</html>