{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <meta name="viewport" content="width=device-width">
    <link href="{% static 'css/loginstyle.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <nav class= "navbar">
      <ul>
        <li><a href= "home.html"> HOME</a></li>
        <li><a href= "login.html"> Logout </a></li>
      </ul>
    </nav>

    <h1 class="header2">Users</h1>

    {% if current.role == "admin" or current.role == "Admin" %}
        <a class="create" href="/createuser/">Create New User</a>
    {% endif %}
    <div class="users">
    <div class="table">
            <table class="loginTable">
                <tr>
                    <td>Name: </td>
                    <td>Role: </td>
                    <td>Phone Number</td>
                    <td>Address: </td>
                    <td>Options: </td>
                </tr>
                {% for i in print %}
                <tr>
                    <td>{{ i.name }} </td>
                    <td>{{ i.role }}</td>
                    <td>{{ i.phoneNumber }}</td>
                    <td>{{ i.address }}</td>
                    <td><a href="createuser.html">Edit</a>&nbsp&nbsp<a href="">Delete</a></td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>

</body>
</html>